* body{
    background-image: url("PHOTO/bg2.jpg");
    height: 100;
    
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    text-align: center; 
}
p{
    text-align: left;
    text-shadow: 2px 3px 5px;
    border: 4px black;
    
    
    
}
header{
    background-color: aquamarine;
    padding: 5px;
    text-shadow: 3px 5px 6px;
}
nav{
    text-align: center;
    padding: 5px;  
    
    
}
nav a {
        text-decoration: none;
        padding: 10px;
        text-align: center;
        float: center;
        text-shadow: 3px 4px 5px;
        
       
        
}
    

footer{
    background-color: rgb(242, 232, 42);
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;   
    padding: 10px;
    text-align: left;
    
}
footer a{
     text-decoration: none;
     padding: 5px;
     text-align: center;
    float: left;
    color: rgb(16, 1, 1);
}
footer a:hover{
    color: red;
}
footer a:visited{

    color: blue;
}
div{
    position: center;
}